/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COMMON
*/
.d-flex {
  display: flex;
}

/*
HEADER
*/
header {
  background-color: #0084fd;
  height: 70px;
}

.nav-header {
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo,
.menu {
  background-color: #b5ddff;
  height: 70px;
  padding: 20px 20px;
}
/*
MEDIA-QUERY HEADER
*/

/*TABLET 768px*/
@media screen and (max-width: 768px) {
  .nav-header {
    width: 100%;
    background-color: green;
  }
}

@media screen and (max-width: 576px) {
  .nav-header {
    width: 100%;
    background-color: red;
  }
}
/*
/HEADER
*/

/*
MAIN
*/
.container {
  max-width: 1140px;
  background-color: aqua;
  height: 730px;
  margin: 0 auto;
}
