/*
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COMMON
*/
body {
  font-family: 'PT Sans', sans-serif;
}

.d-flex {
  display: flex;
}

.btn {
  padding: 10px 10px;
  border-radius: 20px;
  border-style: none;
}

.w-80 {
  width: 80%;
}
/*
HEADER
*/
header {
  background-color: #0084fd;
}

.nav-header {
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
}

.logo,
.menu {
  padding: 15px 0px;
  padding-top: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  padding-top: 5px;
}

li a {
  text-decoration: none;
  color: white;
}

.btn-2 {
  margin-top: -10px;
}
/*
MEDIA-QUERY HEADER
*/

/*TABLET 768px*/
@media screen and (max-width: 768px) {
  .nav-header {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .nav-header {
    width: 100%;
  }
}
/*
/HEADER
*/

/*
MAIN
*/
.container {
  max-width: 1140px;
  background-color: yellow;
  margin: 0px auto;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
}

.box {
  width: calc((100% - 20px) / 3);
  background-color: #b5ddff;
}
.big {
  width: calc(((100% - 5px) / 3) * 2);
}
